<nav class="navbar navbar-expand-lg navbar-dark static-top header-navbar" role="navigation">

  <!-- Logo -->
  <%= link_to t('navbar.title'), oauth_applications_path, class: 'navbar-brand' %>

  <!-- Navbar toggler -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#headerNavbar"
    aria-controls="headerNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar -->
  <div class="collapse navbar-collapse" id="headerNavbar">
    <ul class="navbar-nav mr-auto">
      <%= nav_item t('doorkeeper.layouts.admin.nav.home'), root_path %>
      <%= nav_item t('doorkeeper.layouts.admin.nav.applications'), oauth_applications_path %>
    </ul>
    <ul class="navbar-nav">
      <%= nav_item t('navbar.sign_up'), new_server_user_registration_path %>
      <%= nav_item t('navbar.sign_in'), new_server_user_session_path %>
    </ul>
  </div>

</nav>
